<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atur Ulang Password</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/logo.png">
</head>
<body>
    
    <div class="form-container">
        <div class="logo">
            <img src="../static/logo.png" alt="" width="50"height="50">
        </div>
        <h2>Atur Ulang Password</h2>
        <form id="reset-password-form">
            <input type="password" id="password" placeholder="Masukkan password baru" required>
            <p class="warning" id="password-warning">Password harus memiliki minimal 8 karakter.</p>
            <div class="checkbox-container">
                <input type="checkbox" onclick="myFunction()" id="showPass">
                <label for="showPass" style="margin-left: 8px; font-size: 14px;">Lihat Password</label>
            </div>
            <button type="submit">Atur Ulang Password</button>
        </form>
    </div>

    <script src="../static/script.js"></script>
    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Mencegah pengiriman form default
            const password = document.getElementById('password').value;
            const warningText = document.getElementById('password-warning');
            warningText.style.display = 'none';
            // Validasi panjang password
            if (password.length < 8) {
                warningText.style.display = 'flex'; // Tampilkan peringatan
                return; // Hentikan proses submit
            } else {
                warningText.style.display = 'none'; // Sembunyikan peringatan
            }
            const token = "{{ token }}"; // Mengambil token dari template
            fetch("{{ url_for('reset_password', token=token) }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ password: password })
            })
            .then(response => response.json().then(data => ({ status: response.status, body: data }))) // Parsing JSON dan mendapatkan status
            .then(result => {
                const container = document.querySelector('.form-container');
                if (result.status === 200) {
                    container.innerHTML = `<p>Password berhasil diubah</p> <p>Silahkan kembali masuk ke akun anda!</p>`;
                } else {
                    container.innerHTML = `<p>${result.body.message}</p> <p>Silahkan minnta kembalu pengaturan ulang password anda!</p>`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                const container = document.querySelector('.form-container');
                container.innerHTML = `<p>Terjadi kesalahan, silahkan coba lagi nanti.</p>`;
            });
        });
    </script>
</body>
</html>
